:root {
  --yellow: #FFC596; 
  --orange: #FFB375;
  --gray: #767575;
  --medium-gray: #606060;
  --dark-gray: #383C3C;
}

html {
  font-size: 16px; 
  height: 100%; 
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: var(--yellow);
  height: 100%;
  margin: 0;
}

header {
  background-color: var(--dark-gray);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  max-width: 1500px;
  margin: 0 auto;
  border-radius: 10px;
  flex: 1; 
}

article {
  flex: 1 1 300px; 
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  background-color: white;
  border: 2px solid var(--medium-gray);
  min-width: 200px;
  max-width: calc(33.333% - 1rem); 
}

article h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

article p {
  font-size: 1rem; 
  line-height: 1.5; 
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

label {
  margin: 0.5rem 0;
}

input[type="text"], input[type="file"], input[type="submit"] {
  font-size: 1rem; 
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input[type="submit"] {
  padding: 0.75rem;
  background-color: var(--medium-gray);
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background-color: var(--gray);
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: white;
}
